<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  <img src="/image/logo.png" width="250" height="100">
  </a>
   <a class="navbar-brand" href="#">
  {{title}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if user}}
       <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/listCar">List a car</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>