<div class="container">
    <h1>About Us</h1>
    <p>Araç Kiralama Yapmanı için en doğru yer.</p>
    <p>Bizimle iletişime geçin alltaki linke basarak.</p>
    <a href="/contact">Contact Us</a>
    <small>All rights reserved. Copyright &copy 2023</small>
</div>