<div class="row">
    <div class="col-sm"></div>

    <div class="col-sm-5">
        <form action="/listCar2" method="POST">
        <input type="hidden" name="carID" value="{{car._id}}">

<div class="form-group">
    <label for="pricePerhour">Price Per Hour</label>
    <input type="number" name="pricePerhour" id="pricePerHour"
     class="form-control" required>
</div>

<div class="form-group">
    <label for="pricePerWeek">Price per week</label>
    <input type="number" name="pricePerWeek" id="pricePerWeek" 
    class="form-control" required>
</div>

<div class="form-group">
    <label for="location">Location</label>
    <input type="text" name="location" id="location"
     class="form-control"
     placeholder="street, city, state and zipcode" required>
</div>

<div class="form-group">
    <button class="btn btn-info upload-btn" type="button">Choose Image</button>
    <input type="file" name="image" id="upload-input" style="display:none" required>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">List a car</button>
</div>

</form>
    </div>
    <div class="col-sm"></div>
</div>
<script>
    //fetch location using javascript
function fetchLocation(){
    var location = document.getElementById('location');
    var AutoComplete = new google.maps.places.AutoComplete(location);
}
//jquery code stats here
$(document).ready(function(){
    $('.upload-btn').on('click',function(){
        $('#upload-input').click();
    });
    $('#upload-input').on('change',function(){
        var uploadInput= $('#upload-input');
        if(uploadInput.val() !=''){
            var formData = new FormData();
            formData.append('image',uploadInput[0].files[0]);

            //make ajax request to send image to database
            $.ajax({
                url: '/uploadImage',
                type: 'POST',
                data: formData,
                processData:false,
                contentType:false,
                success: function(){
                    uploadInput.val('');
                }
            })
        }
    })
})
</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtFJLim4zIdCC1l9kzg24Lr9OIzktaBHQ&libraries=places&callback=fetchLocation">
</script>
